.levelContainer  p {
    font-weight: bold;
}

.levelContainer {
    display: none;
    margin-top: 40px;
    height: 20px;
}

.levelText {
    margin: 0 auto 10px;
}

.progressBar {
    display: block;
    position: relative;
    z-index:  1;
    background-color: lightgrey;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
}

.xpFill {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: gold;
    border-radius: 20px;
    transition: right 2s ease-in-out;
}

.xpText {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    margin: 0;
    height: 20px;
}